<h1>Listing blogs</h1>


    <% @blogs.each do |blog| %>

<div class="box panel panel-primary">

    <div class="panel-heading">
   

    <h3 class="panel-title"><%= link_to blog.title, blog %></h3>



    </div>

    <div class="panel-body">

        <%= blog.text %>

        <br>
        <br>

        <div class="blog-links">

     </div>

      <div class="panel-footer">

        <%= link_to 'Edit', edit_blog_path(blog) %>
        <%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } %>


        </div>
    </div>


      
      <% end %>


</div>

<br>

<%= link_to 'New Blog', new_blog_path %>

